/*Home Page Styles*/

#home-page article {
  position: relative;
}

#home-page article h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

h1 {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #09012d;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/*CSS Grid (for basic layout)*/

@supports (grid-area: auto) {
  #page {
    max-width: 1240px;
    margin: 0 auto;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  #home-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
  }

  #home-page article img {
    max-width: 100%;
  }
}
