/*Grids*/

/*Temporary: CSS Grid (for basic layout)*/

@supports (grid-area: auto) {
  #page {
    max-width: 1240px;
    margin: 0 auto;

    display: grid;
    grid-template: column;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }


}
