/*Home Page Styles*/

#home-page {
   article {
      position: relative;
      h3 {
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         a {
            color: white;
         }
      }
   }
}
